
.divInputs{
    padding: 50px 30px;
    max-width: 330px;
    height: 380px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 465px;
}

.botoncito{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 90px;
}

.botoncito2{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 35px;
    margin-left: 90px;
}

.titulo{
    text-align: center;
    margin-top: 40px;
}
.textcreate{
    margin-top: 20px;
    margin-left: 68px;
}
.textcreate2{
    margin-left: 115px;
}

.libroIcon{
    margin-top: 3px;
    margin-left: 110px;
}
.cart{
    margin-left: 950px;
}
.opciones{
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 480px;
    padding: 10px;
    border-radius: 10px;
}
.divContador{
    display: flex; 
    gap: 20px;    
    
}
.pTitulo{
    display: flex;
}
.botonCuenta{
    margin-top: 30px;
    margin-left: 180px;
}
.contadorCuenta{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 860px;
}
.carritoCont{
    position: absolute;
    margin-top: -8px;
    margin-left: 990px;
}
.btnCart{
    display: flex;
    margin-bottom: 10px;
    background-color: #FF9B42;
    width: 140px;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 9px;
}
.btnCart:hover{
    background-color:#fa7821eb;
}
.btnInfo{
    width: 250px;
    text-align: center;
    justify-content: center;
}
.btnRemove{
    border: none;
    border-radius: 9px;
    width: 100px;
    background-color: #66D7D1;
    position: absolute;
    margin-left: 150px;
}
.btnRemove:hover{
    background-color: #66d7d1cf ;
}
.cardPage{
    margin-top: 50px;
    margin-left: 180px;
}
.formCardPage{
    position: absolute;
    margin-left: 600px;
    margin-top: -650px;
}
.inputCardPag{
    width: 400px;
}
.carrusel{
    margin-top: 35px;
}
.cardPagPrin{
    margin-top: 35px;
    margin-left: 40px;
}
