.divInputs{
    padding: 50px 30px;
    max-width: 300px;
    height: 380px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 465px;
}

.botoncito{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 65px;
}

.botoncito2{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 65px;
}

.titulo{
    text-align: center;
    margin-top: 40px;
}
.textcreate{
    margin-top: 20px;
    margin-left: 50px;
}
.textcreate2{
    margin-left: 95px;
}

.libroIcon{
    margin-top: 3px;
    margin-left: 95px;
}
.cart{
    margin-left: 950px;
}
.opciones{
    margin-top: 20px;
    margin-left: 500px;
    padding: 10px;
    border-radius: 10px;
}
.divContador{
    display: flex; 
    gap: 20px;    
    
}
.pTitulo{
    display: flex;
}
.botonCuenta{
    margin-top: 30px;
    margin-left: 180px;

}
.contadorCuenta{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 860px;
}