
.divInputs{
    padding: 50px 30px;
    max-width: 330px;
    height: 380px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 465px;
}

.botoncito{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 80px;
}

.botoncito2{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 65px;
}

.titulo{
    text-align: center;
    margin-top: 40px;
}
.textcreate{
    margin-top: 20px;
    margin-left: 50px;
}
.textcreate2{
    margin-left: 95px;
}

.libroIcon{
    margin-top: 3px;
    margin-left: 110px;
}
.cart{
    margin-left: 950px;
}
.opciones{
    margin-top: 20px;
    margin-left: 500px;
    padding: 10px;
    border-radius: 10px;
}
.divContador{
    display: flex; 
    gap: 20px;    
    
}
.pTitulo{
    display: flex;
}
.botonCuenta{
    margin-top: 30px;
    margin-left: 180px;
}
.contadorCuenta{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 860px;
}
.carritoCont{
    position: absolute;
    margin-top: -8px;
    margin-left: 990px;
}
.btnCart{
    display: flex;
    margin-bottom: 10px;
    background-color: #FA7921;
    width: 140px;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 9px;
}
.btnCart:hover{
    background-color:#e77020;
}
.btnInfo{
    width: 250px;
    text-align: center;
    justify-content: center;
}
.btnInfo:hover{
    background-color: ;
}
.btnRemove{
    border: none;
    border-radius: 9px;
    width: 100px;
    background-color: #66D7D1;
    position: absolute;
    margin-left: 150px;
}